name: build

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build

    env:
      NPM_GITHUB_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Prepare
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4

      - name: Setup node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install
        run: |
          pnpm install --frozen-lockfile

      - name: Build
        run: |
          pnpm run build

      - name: Test
        run: |
          pnpm run test

      - name: Execute
        run: |
          echo "Executing ESM CLI:"
          ./dist/index.js

          echo 'Executing CJS CLI:'
          ./dist/index.cjs

      - name: Lint
        run: |
          pnpm lint
