name: build

on:
  - push
  - pull_request

permissions:
  packages: read # Allow downloading of packages.

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    env:
      NPM_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Prepare
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install
        run: |
          pnpm install --frozen-lockfile

      - name: Build
        run: |
          pnpm run build

      - name: Test
        run: |
          pnpm run test

      - name: Execute
        run: |
          echo "Executing ESM CLI:"
          ./dist/index.mjs

          echo 'Executing CJS CLI:'
          ./dist/index.cjs

      - name: Lint
        run: |
          pnpm run lint
