name: publish

on:
  push:
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish artifact

    env:
      NPM_GITHUB_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare
        run: |
          corepack enable

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install
        run: |
          pnpm install --frozen-lockfile

      - name: Build
        run: |
          pnpm build

      - name: Publish
        run: |
          pnpm publish --no-git-checks
